aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
chardet==2.3.0
cryptography==1.7.1
gitdb2==2.0.0
GitPython==2.1.1
idna==2.2
idna-ssl==1.1.0
keyring==10.1
keyrings.alt==1.3
multidict==4.7.4
pyasn1==0.1.9
pygobject==3.22.0
pyserial==3.2.1
python-apt==1.1.0b5
SecretStorage==2.3.1
six==1.12.0
smmap2==2.0.1
ssh-import-id==5.6
telepot==12.7
typing-extensions==3.7.4.1
yarl==1.4.2
